<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <div class="container">
        <div class="cgpa_calculator">
            <h2>
                Enter 0 for semesters not completed
            </h2>

        </div>
    </div>
  </body>
</html>