<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <div class="container">
      <div class="marks_list">
        <i><h2>Subjects</h2></i><br>
          <label for="s1s1" class="s1s1">18MAT11/21</label>
          <input type="number" id="s1s1" ><br><br>
          <label for="s1s2" class="s1s2">18PHY12/22</label>
          <input type="number" id="s1s2"><br><br>
          <label for="s1s3" class="s1s3">18ELE13/23</label>
          <input type="number" id="s1s3"><br><br>
          <label for="s1s4" class="s1s4">18CIV14/24</label>
          <input type="number" id="s1s4"><br><br>
          <label for="s1s5" class="s1s5">18EGDL15/25</label>
          <input type="number" id="s1s5"><br><br>
          <label for="s1s6" class="s1s6">18PHY16/26</label>
          <input type="number" id="s1s6"><br><br>
          <label for="s1s7" class="s1s7">18ELE17/27</label>
          <input type="number" id="s1s7"><br><br>
          <label for="s1s8" class="s1s8">18EGH18/28</label>
          <input type="number" id="s1s8"><br><br>
          <button class="btn btn-sm  btn-outline-primary ">Calculate</button>
          <input type="reset" class="btn btn-sm   btn-outline-danger"><br><br>
          <label for="s1sgpa" class="s1sgpa">SGPA</label>
          <input type="text" id="s1sgpa">
          <label for="s1per" class="s1per">Percentage%</label>
          <input type="text" id="s1per">
        </div>
    </div>
  </body>
</html>
