<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <div class="container">
      <div class="semester_list">
        <div class="row align-items-center">
          <h4>
            <div class="col-md-12 col-sm-8">
              <a href="">1st and 2nd sem (physics group)</a><br /><br />
            </div>
            <div class="col-md-12 col-sm-8">
              <a href="">1st and 2nd sem (chemistry group)</a><br /><br />
            </div>
            <div class="col-md-12 col-sm-8">
              <a href="">3rd and 4th sem</a><br /><br />
            </div>
            <div class="col-md-12 col-sm-8">
              <a href="">5th sem</a><br /><br />
            </div>
            <div class="col-md-12 col-sm-8">
              <a href="">6th sem</a><br /><br />
            </div>
            <div class="col-md-12 col-sm-8">
              <a href="">7th sem</a><br /><br />
            </div>
            <div class="col-md-12 col-sm-8">
              <a href="">8th sem</a><br /><br />
            </div>
          </h4>
        </div>
      </div>

      <!--  ------------------------------------------------------------------------------------ -->
      <div class="list-group">
        <a
          href="#"
          class="list-group-item list-group-item-action"
          aria-current="true"
        >
          The current link item
        </a>
        <a href="#" class="list-group-item list-group-item-action"
          >A second link item</a
        >
        <a href="#" class="list-group-item list-group-item-action"
          >A third link item</a
        >
        <a href="#" class="list-group-item list-group-item-action"
          >A fourth link item</a
        >
      </div>
    </div>
  </body>
</html>
