/* HOMEPAGE */
body{
     background-image: url(background.jpg); 
}
.sgpa_cgpa_link{
    text-align: center;
    margin:100px 50px 0 0 ;
}
.signup_login_link{
    text-align: center;
    margin: 50px;
}
.sgpa_calculator_link:hover{
    color:aliceblue;
}


/* SEMESTER */
.semester_list{
    /* border:2px solid black; */
    text-align: center;
    margin: 70px 150px 0 150px;
    padding:25px 0 25px 0; 
}